# --- CORE ---
python-dotenv
requests
numpy
langdetect

# --- LIVEKIT ---
livekit==0.8.0
livekit-agents==1.3.9
livekit-plugins-google

# --- AUDIO ---
edge-tts
pydub
webrtcvad-wheels

# --- SERVER ---
flask
flask-cors
gunicorn
